{% load static %}

      <ul class="sidebar-menu list-unstyled mt-4">
        <li><a href="#"><i class="fas fa-tachometer-alt me-2"></i> Tableau de bord</a></li>
        <li><a href="#"><i class="fas fa-box me-2"></i> Produits</a></li>
        <li><a href="#"><i class="fas fa-shopping-cart me-2"></i> Commandes</a></li>
        <li><a href="#"><i class="fas fa-users me-2"></i> Utilisateurs</a></li>
        <li><a href="#"><i class="fas fa-cog me-2"></i> Paramètres</a></li>
      </ul>
    </nav>
