<footer class="footer mt-4 py-3 bg-light text-center shadow-sm rounded">
    <div class="container">
        <p class="mb-1 text-secondary small">
            © {{ now|date:"Y" }} <strong>ATYI-STORE</strong>. Tous droits réservés.
        </p>
        <div>
            <a href="#" class="text-decoration-none text-primary me-3">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#" class="text-decoration-none text-info me-3">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#" class="text-decoration-none text-danger">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>